html,
body {
  font-size: 14px !important;
  font-family: system-ui !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
} */
